{% extends 'base.html' %}
{% block title %}
儀表板（？）
{% endblock %}

{% block content %}
<div class="well">
<h1>儀表板（？）</h1>
<input type="button" onclick="location.href='{% url "generate card" %}'" value="產生卡片" class="btn btn-primary"/>
<input type="button" onclick="location.href='{% url "fast send" %}'" value="快速發送" class="btn btn-primary"/>
<h2>卡片</h2>
<br></br>
<div class="panel-group"  id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <a href="#panel1" class="panel-toggle" data-toggle="collapse" data-parent="#accordion">
                    展開或是收起卡片
                </a>
            </div>
        </div>
        <div id="panel1" class="panel-collapse collapse">
<div class="panel-body">
<table class="table">
    <tr>
        <th>名稱</th>
        <th>內容</th>
        <th>功能</th>
    </tr>
{% for card in cards %}
<tr>
  <td><a href="{% url 'view card' card.cid %}">{{ card.name }} ({{ card.cid }}), {{ card.value }} 點</a>
  {% if card.long_desc %}
  <p>{{ card.long_desc }}</p>
  {% endif %}
  </td>
  <td>
  {% if card.active and not card.retrieved %}
  已啟用，尚未被領取
  {% elif not card.active and not card.retrieved %}
  尚未啟用
  {% else %}
  已被 {{ card.capturer }} 領取
  {% endif %}
  </td>
  <td>
  {% if not card.retrieved %}
  <input type="button" onclick="location.href='{% url "edit card" card.cid %}'" value="編輯" class="btn btn-info"/>
  <input type="button" onclick="location.href='{% url "feed card" card.cid %}'" value="餵給" class="btn btn-primary"/>
  {% endif %}
  </td>
</tr>
{% endfor %}
</table>
</div>
</div>
</div>
<h2>隊伍</h2>

<ul>
<table class="table">
{% for team in teams %}
<tr><td>
<li>{{ team.name }} ({{ team.tid }}), {{ team.points }} 點</li>
<ul>
  {% for player in team.player.all %}
  <li>{{ player.user.get_full_name }} ({{ player.user.username }}), {{ player.points_acquired }} 點</li>
  {% endfor %}
</ul>
</td></tr>
{% endfor %}
</ul>
</table>

<h2>Log</h2>
<table class="table">
{% for entry in history_entries %}
<tr><td>{{ entry.date | date:'Y-m-d H:i:s' }} &nbsp; {{ entry.user.get_full_name }} ({{ entry.user.username }})&nbsp;&nbsp;{{ entry.action_explain }}:
  {{ entry.card.name }} {{ entry.comment }}</td><tr>
{% endfor %}
</table>
</div>
{% endblock %}
