{% extends 'base.html' %}
{% block title %}神仙送福 大吉大利{% endblock %}
{% block content %}
<div class="well">
<p style="font-size:22px"> 請選擇你要產生的卡片 </p>
<br>
<div class="btn-group btn-group-justified" role="group">
<a class="btn btn-primary" role="button" href='{% url 'lite' 0 %}' style="font-size:26px">64卡</a>
</div>
<br>
<br>
<div class="btn-group btn-group-justified" role="group">
<a class="btn btn-primary" role="button" href='{% url 'lite' 1 %}' style="font-size:26px">128卡</a>
</div>
<br>
<br>
<div class="btn-group btn-group-justified" role="group">
<a class="btn btn-primary" role="button" href='{% url 'lite' 2 %}' style="font-size:26px">256卡</a>
</div>
<br>
</div>
{% endblock %}
