{% extends 'base.html' %}
{% block title %}{{ user.player.team.name }}{% endblock %}
{% block content %}

<script type='text/javascript'>
$(document).ready(function(){
 var back = ["#65D122", "#428BCA", "#C941BE", "#615560", "#8BE874", "#F6FAA3"];
 var counter = 0;
   $(".pb").each(function(){
    $(this).css({
    'background-image': 'none',
    'background-color': back[counter]
    });
     counter++;
     counter = counter % back.length
  });
var counter = 0;
   $(".pb1").each(function(){
    $(this).css({
    'background-image': 'none',
    'background-color': back[counter]
    });
     counter++;
     counter = counter % back.length
  });
});
</script>
<h1>{{ user.player.team.name }} <span style="font-size:25px" class="badge">{{ user.player.team.points }} 點</span></h1>
<p>（你貢獻了：{{ user.player.points_acquired }} 點）</p>
<div>
  <div class="progress" id="stack">
    {% for each_player in sorted_players %}
      <div class="progress-bar progress-bar-success pb" style="width: {{ each_player.weight|floatformat:0}}%; " >
             <span>{{ each_player.user.last_name }} </span>
      </div>
    {% endfor %}
  </div>
</div>

{% if records %}
<div class="panel-group"  id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <a href="#panel1" class="panel-toggle" data-toggle="collapse" data-parent="#accordion">
                    展開或是收起詳細紀錄
                </a>
            </div>
        </div>
        <div id="panel1" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="table responsive">
                    <div class="table-tr">
                        <div class="table-th table-td">時間</div>
                        <div class="table-th table-td">隊員</div>
                        <div class="table-th table-td">行動類別</div>
                        <div class="table-th table-full">詳細資料</div>
                        <div class="table-th table-full">註解</div>
                    </div>
                    {% for record in records|dictsort:"date" reversed %}
                    <div class="table-tr">
                        <div class="table-td">{{ record.date | date:'m/d H:i' }}</div>
                        <div class="table-td">{{ record.user.last_name }}</div>
                        <div class="table-td">{{ record.action_explain }}</div>
                        <div class="table-full">從卡片 {{ record.card.name }} 中得到了 {{ record.card.value }} 分</div>
                        <div class="table-full">{{ record.comment }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
