{% extends 'base.html' %}
{% block title %}{{ user.player.team.name }}{% endblock %}
{% block content %}

<script type="Text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script... type='text/javascript'>
$(function(){
 var back = ["#65D122", "#428BCA", "#c941be", "#615560", "#8be874", "f6faa3"];
 var counter = 0; 
   $(".pb").each(function(){
    this.css({
    'background-image': 'none',
    'background-color': color[counter]
    });
     counter++;
     if(counter == colours.length) {
          counter = 0;
      }
  });
});
</script>
<div class="well">
<h1>{{ user.player.team.name }} <span style="font-size:25px" class="badge">{{ user.player.team.points }} 點</span></h1>
<div>
<table class="table" style="font-size:16px" id="percentclac" >
<tr><td><span style="font-weight: bold;">積分統計</span></td>
<td>
<span style="font-size:14px" class="badge">100%</span>
</td>
<td>
<div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
    <span style="color:#000;">{{ user.player.team.points }} / {{ user.player.team.points }}</span>
  </div>
</div>
</td></tr>
{% for each_player in sorted_players %}
<tr><td><span style="font-weight: bold;">{{ each_player.user.get_full_name }}</span></td>
<td>
<span style="font-size:14px" class="badge">
    <form onsubmit = "return false" oninput = "r.value=x.valueAsNumber * y.valueAsNumber" > 
    <output name = "r" for = > "{{ each_player.points_acquired }} {{ user.player.team.points }}"</output> 
    </form> 
</td>
<td><div class="progress">
  <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width : calc({{ each_player.points_acquired }} / {{ user.player.team.points }}  * 100%);">
   <span style="color:#000;">{{ each_player.points_acquired }} / {{ user.player.team.points }}</span>
  </div>
</div>
</td></tr>
{% endfor %}
</table>
<div class="progress" id="slack">
{% for each_player in sorted_players %}
  <div class="pb progress-bar progress-bar-success" style="width: {{ each_player.weight}} " >
    <span class="sr-only"></span>
  </div>
{% endfor %}
  </div>
</div>
{% if records %}
<div class="panel-group"  id="accordion">  
    <div class="panel panel-default">   
        <div class="panel-heading">  
            <div class="panel-title">  
                <a href="#panel1" class="panel-toggle" data-toggle="collapse" data-parent="#accordion">  
                    展開或是收起詳細紀錄
                </a>  
            </div>  
        </div>  
        <div id="panel1" class="panel-collapse collapse">  
            <div class="panel-body">  
 <table class="table"> 
    <tr>
        <th id="tablestyle">時間</th>
        <th id="tablestyle">行動類別</th>
        <th id="tablestyle" >詳細資料</th>
        <th id="tablestyle">註解</th>
    </tr>
    {% for record in records %}
    <tr>
        <td id="tablestyle">{{ record.date | date:'m/d H:i' }}</td>
        <td id="tablestyle">{{ record.action_explain }}</td>
        <td id="tablestyle">從卡片 {{ record.card.name }} 中得到了 {{ record.card.value }} 分</td>
        <td id="tablestyle">{{ record.comment }}</td>
    </tr>
    {% endfor %}
</table>    
</div>   
</div>   
</div>
</div>
{% endif %}
{% endblock %}
