{% extends "base.html" %}
{% block title %}點數卡{% endblock %}

{% block content %}
<h1>點數卡 <span style="font-size:25px">{{ card.name }}</span></h1>
<p style="font-size:25px">{{ card.cid }}</p>
<p style="font-size:32px">{{ card.value }} <span style="font-size:20px">點</span></p>
<p style="font-size:20px">
  {% if card.active and not card.retrieved %}
  已啟用，尚未被領取
  {% elif not card.active and not card.retrieved %}
  尚未啟用
  {% else %}
  已被領取
  {% endif %}
</p>
{% if card.retrieved %}
<p style="font-size:20px">提領者：{{ card.capturer }}</p>
{% endif %}

<img src="https://api.qrserver.com/v1/create-qr-code/?size=300x300&data=http%3A%2F%2F{{ host }}{% url 'get' card.cid %}" />

{% autoescape off %}<p>{{ card.long_desc }}</p> {% endautoescape %}

{% if request.user.is_staff %}
    <input type="button" onclick="location.href='{% url "edit card" card.cid %}'" value="編輯" />
{% endif %}
{% endblock %}
